body {
    background-color: #D8D2CB;
    text-align: center;
}
#galleryNav {
    background-color: #398AB9; 
    display: block;
}

div.gallery {
    margin:5px;
    float: left;
    width: auto;
}

div.gallery img:hover {
    border: 2px solid rgb(92, 91, 91);
}

div.gallery img {
    width: 22rem;
    height: auto;
    margin: auto 2px;
    padding: 5px;
}
